*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h6 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

html{
    scroll-behavior: smooth;
}

.typing-container {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    display: inline-block;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blinking-cursor {
    animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
    0%, 100% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
}

body{
    background: rgb(177, 156, 217);
    /*background: darkslateblue;*/
    color: white;
}

#header{
    margin-top: 30px;
    width: 100%;
    height: 100vh;
  /*background-image: url(images/photo1.jpg); */
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

/* animated Line under nav bar */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom right, rgb(125, 18, 255), #8726b7);
    position: absolute;
    left: 0;
    bottom: -20px;
    transition: 0.25s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: lightblue;
}


/* ABOUT SECTION */
#about{
    margin-top: 10%;
    padding: 80px 0;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* animated Line under tab-titles */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(to bottom right, rgb(125, 18, 255), #8726b7);
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.25s;
    
}

.tab-links.active-link::after{
    width: 100%;
}
/*WEIRD CONTENT*/
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: lightblue;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* PORTFOLIO */
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    transition: transform 0.5s ;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(135, 38, 183, 0.7), rgba(125, 18, 255, 1));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: rgba(125,18,255);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

/*SEE MORE BTN*/
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid rgb(125,18,255);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background:rgb(125,18,255);
}

/* CONTACT */
.contact-left{
    flex-wrap: 35% ;
}

.contact-right{
    flex-wrap: 60% ;
}

.contact-left p{
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

/* envelope icon */
.contact-left p i{
    color: white;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    font-family: 'Courier New', Courier, monospace;
    margin-right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: transform 0.5s ;
}

.social-icons a:hover{
    color: rgb(125,18,255);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;    
}

.contact-right form{
    width: 100%;
}

/* FORM BOX */
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(205, 202, 202);
    padding: 15px;
    margin: 15px 0;
    color: black;
    border-radius: 5px;
}
/*
form btn2{
    border-radius: 25px;
    color: white;
    padding: 0 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}*/


btn.btn3{
    border-radius: 25px;
    color: white;
    padding: 0 60px;
    font-size: 300px;
    margin-top: 20px;
    cursor: pointer;
}




/*CSS MOBILE SCREEN*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/Armica_Grad-18.jpg);
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 300px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: lightpink;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.25s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    #about .about-col-2 p {

        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1.5;
        color: #333;
      }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}